/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



:root {
    --main-bg-color: #1E1E1E;
    --scondary-bg-color: #FD6F001A;
    --primary-color: #FFFFFF;
    --secondary-color:#FD6F00;
}


*{
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: "Rubik", sans-serif;
    
}

body{
    background-color: var(--main-bg-color);
}
